@import "../../styles/_variables.scss";

.card {
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: clamp(200px, 20vw, 324px);
    min-width: 180px;
    box-sizing: border-box;

    &--default {
        align-items: center;

        &:hover {
            background-color: $green-elliott;
            transition: background-color 0.3s ease-in-out;
        }
    }

    &--border {
        align-items: center;
        padding-bottom: clamp(50px, 10vw, 100px);

        &:hover {
            border: clamp(5px, 2vw, 15px) solid $green-elliott;
            transition: border-width 0.3s ease-in-out;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(225px, auto));
        gap: 20px;
    }
}

@media (min-width: 1501px) and (max-width: 1680px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(290px, auto));
    }
}